<% flash.each do |key, value| %>
	<div style="color: red;">
		<%= value %>
	</div>
<% end %>
<div>
	<h4>ジャンル新規追加</h4>
	<%= form_for(@genre) do |f| %>
		<p>
			ジャンル名 <%= f.text_field :genre_name, autofocus: true %>
			<%= f.submit '追加' %>
		</p>
	<% end %>
</div>
<div>
	<h4>ジャンル一覧</h4>
	<ul>
		<li>ジャンル名</li>
		<% @genres.each do |genre| %>
		<li>
			<%= form_for(genre) do |f| %>
				<%= f.text_field :genre_name, autofocus: true %>
				<%= f.submit '編集' %>
				<%= link_to "削除", genre_path(genre), method: :delete, data: { confirm: "削除します。続行しますか？" } %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<%= paginate @genres %>
</div>