<% flash.each do |key, value| %>
	<div style="color: red;">
		<%= value %>
	</div>
<% end %>
<div>
	<h4>アーティスト新規追加</h4>
	<%= form_for(@artist) do |f| %>
		<p>
			アーティスト名 <%= f.text_field :artist_name, autofocus: true %>
			<%= f.submit '追加' %>
		</p>
	<% end %>
</div>
<div>
	<h4>アーティスト一覧</h4>
	<ul>
		<li>アーティスト名</li>
		<% @artists.each do |artist| %>
			<li>
				<%= form_for(artist) do |f| %>
					<%= f.text_field :artist_name, autofocus: true %>
					<%= f.submit '編集' %>
					<%= link_to "削除", artist_path(artist), method: :delete, data: { confirm: "削除します。続行しますか？" } %>
				<% end %>
			</li>
		<% end %>
	</ul>

	<%= paginate @artists %>
</div>

