<div>
	<p>アーティスト一覧</p>
	<% @artists.each do |artist| %>
		<p>
			ID= <%= artist.id %> name= <%= artist.artist_name %>
			<%= link_to "削除(テスト用)", artist_path(artist), method: :delete, "data-confirm" => "テスト用の削除機能です。削除してもよろしいでしょうか？" %>
		</p>
	<% end %>
</div>

<div>
	<p>アーティスト新規追加フォーム</p>
	<%= form_for(@artist) do |f| %>
		<p>アーティスト名 <%= f.text_field :artist_name, autofocus: true %></p>
		<p><%= f.submit '追加' %></p>
	<% end %>
</div>