<div>
	<h4>商品情報編集</h4>
	<% if @item.errors.any? %>
		<ul>
			<% @item.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<%= form_for(@item) do |f| %>
		<p>商品ID <%= @item.id %>
		<p>商品名 <%= f.text_field :item_name, autofocus: true %></p>
		<p>レーベル <%= f.text_field :label, autofocus: true %></p>
		<p>
			<%= link_to "ジャンル", genres_path %>
			<%= f.select :genre_id, Genre.order(:genre_name).map{ |t| [t.genre_name, t.id]} %>
		</p>
		<p>単価 <%= f.number_field :price, autofocus: true %>円</p>
		<p>在庫数 <%= f.number_field :stock, autofocus: true %></p>
		<p>
			ジャケット画像<br>
			<%= attachment_image_tag @item, :jacket_image, :fill, 300, 300, fallback: "no_img_300.jpeg" %><br>
			<%= f.attachment_field :jacket_image %>
		</p>
		<p>ジャケット画像を削除する <%= f.check_box :remove_jacket_image %></p>
		<p>
			<%= link_to "アーティスト", artists_path %>
			<%= f.select :artist_id, Artist.order(:artist_name).map{ |t| [t.artist_name, t.id]} %>
		</p>
		<p>管理者番号 <%= @item.admin_id %></p>
		<p>ユーザー用商品一覧から隠す <%= f.check_box :delete_flag %></p>
		<p><%= f.submit '商品情報を編集する' %></p>
	<% end %>
</div>
<div>
	<h4>ディスク・曲情報追加と編集</h4>
	<% @item.disks.order(:disk_number).each do |disk| %>
		<div>
			<%= form_for(disk) do |f| %>
				<p>
					ディスク番号
					<%= f.number_field :disk_number, autofocus: true %>
					ディスクタイトル
					<%= f.text_field :disk_name, autofocus: true %>
					<%= f.hidden_field :item_id %>
					<%= f.submit "編集" %>
					<%= link_to "削除", disk_path(disk), method: :delete, data: { confirm: "ディスクを削除すると、ディスク内の曲も削除されます。続行しますか？" } %>
				</p>
			<% end %>
			<ul style="border: 1px solid black;">
				<% disk.songs.order(:track_number).each do |song| %>
					<%= form_for(song) do |f| %>
						<li>
							<%= f.number_field :track_number, autofocus: true, placeholder: 'トラック番号' %>
							<%= f.text_field :song_name, autofocus: true, placeholder: '曲名' %>
							再生時間
							<%= f.time_select :song_length, include_seconds: true, autofocus: true %>
							アーティスト
							<%= f.select :artist_id, Artist.all.map{ |t| [t.artist_name, t.id]} %>
							<%= f.hidden_field :disk_id %>
							<%= f.submit "編集" %>
							<%= link_to "削除", song_path(song), method: :delete, data: { confirm: "この曲を削除します。続行しますか？" } %>
						</li>
					<% end %>
				<% end %>
				<%= form_for(@song) do |f| %>
					<li>
						<%= f.number_field :track_number, autofocus: true, placeholder: "トラック番号" %>
						<%= f.text_field :song_name, autofocus: true, placeholder: "曲名" %>
						再生時間
						<%= f.time_select :song_length, include_seconds: true, default: {hour: '0', minute: '0', second: '0'} ,autofocus: true %>
						アーティスト
						<%= f.select :artist_id, Artist.all.map{ |t| [t.artist_name, t.id]} %>
						<%= f.hidden_field :disk_id, value: disk.id, readonly: true %>
						<%= f.submit "トラック追加" %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= form_for(@disk) do |f| %>
		<p>
			<%= f.number_field :disk_number, autofucus: true, placeholder: "ディスク番号" %>
			 <%= f.text_field :disk_name, autofocus: true, placeholder: "ディスクタイトル" %>
			 <%= f.hidden_field :item_id, value: @item.id, readonly: true %>
			 <%= f.submit "新規ディスク" %>
		</p>
	<% end %>
</div>