<div>
	<h4>商品一覧<%= link_to "商品新規登録", new_item_path, style: "margin-left: 1rem;" %></h4>
	<table>
		<tr>
			<th></th>
			<th>商品ID</th>
			<th>商品名</th>
			<th>アーティスト</th>
			<th>単価(円)</th>
			<th>在庫数</th>
			<th>商品一覧ページ</th>
		</tr>
		<% @items.each do |item| %>
			<tr>
				<th><%= attachment_image_tag item, :jacket_image, :fill, 30, 30, fallback: "no_img_30.jpeg" %></th>
				<th><%= item.id %></th>
				<th><%= item.item_name %></th>
				<th><%= item.artist.artist_name %></th>
				<th>
					<%= item.price %>
				</th>
				<th>
					<% if item.stock == 0 %>
						<span style="color: red;">在庫なし</span>
					<% else %>
						 <%= item.stock %>
					<% end %>
				</th>
				<th>
					<% if item.delete_flag != true %>
						<span style="color: green;">表示</span>
					<% else %>
						<span style="color: red;">非表示</span>
					<% end %>
				</th>
				<th><%= link_to "編集", edit_item_path(item) %></th>
			</tr>
		<% end %>
	</table>
	<%= paginate @items %>
</div>