<div>
	<h4>商品新規追加フォーム</h4>
	<% if @item.errors.any? %>
		<ul>
			<% @item.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<%= form_for(@item) do |f| %>
		<p>商品名 <%= f.text_field :item_name, autofocus: true %></p>
		<p>レーベル <%= f.text_field :label, autofocus: true %></p>
		<p>
			<%= link_to "ジャンル", genres_path, target: "_blank" %>
			<%= f.select :genre_id, Genre.order(:genre_name).map{ |t| [t.genre_name, t.id]} %>
		</p>
		<p>単価 <%= f.number_field :price, autofocus: true %>円</p>
		<p>在庫数 <%= f.number_field :stock, autofocus: true %></p>
		<p>ジャケット画像 <%= f.attachment_field :jacket_image %></p>
		<p>
			<%= link_to "アーティスト", artists_path, target: "_blank" %>
			<%= f.select :artist_id, Artist.order(:artist_name).map{ |t| [t.artist_name, t.id]} %>
		</p>
		<p>管理者番号 <%= current_admin.id %></p>
		<p><%= f.submit '作成して曲の追加に移る' %></p>
	<% end %>
</div>