<!DOCTYPE html>
<html>
  <head>
    <title>LyricalmmkAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<header style="border: 1px black solid;">
  		<% if admin_signed_in? %>
        <span style="color: green;">管理者番号 <%= current_admin.id %> でログインしています。</span>
        <%= link_to "管理者メニュー", root_path, style: "margin-left: 1rem;" %>
        <%= link_to "ログアウト", destroy_admin_session_path, style: "margin-left: 1rem;" %>
  		<% else %>
  			<span style="color: red;">ログインしてください。</span>
        <%= link_to "ログイン", new_admin_session_path, style: "margin-left: 1rem;" %>
        <%= link_to "新規管理者登録", new_admin_registration_path, style: "margin-left: 1rem;" %>
  		<% end %>
  	</header>
    <div style="margin-left: 5px;">
      <%= yield %>
    </div>
  </body>
</html>
